

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.h1 {
    color: #1C1F24;
    margin-bottom: 10%;
    text-align: center;
}
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: auto;
}
.form span {
    margin-top: 4%;
    text-align: center;
}
.form label {
    font-weight: 300;
}
.form input {
    border: 1px solid lightgray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-bottom: 10%;
    outline: none;
    height: 30px;
    font-size: .9rem;
    background: rgb(246,246,246);
}
.form button {
    border-style: none;
    cursor: pointer;
    color: white;
    outline: none;
    background-color: #1C1F24;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    padding: 10px 2px;
    margin-top: 4%;
}

div.regHeroImage {
    position:relative;
    font-size: 20px;
    color: white;
    height: inherit;
    background-image: url('../imgs/pexels-anni-roenkae-3435272.jpg');
    background-position: center;
    background-size: cover;
    width: 60%;
    border-radius: 60px 0px 0px 60px;
}
div.regHeroImage p {
    position: absolute;
    top: 35%;
    left: 21%;
    font-size: 70px;
    -webkit-text-stroke: .2px black;
}
.eye {
    cursor: pointer;
  position: absolute;
  width: 20px;
  right: 8px;
  bottom: 129px;
}

@media screen and (max-width: 768px) {
  .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100vh;
      flex-direction: column-reverse;
  }
  .form {
      margin-top: 10%;
  }
  div.regHeroImage {
      height: 10vh;
      width: 100%;
      border-radius: 0px 0px 0px 36px;
  }
  div.regHeroImage p {
      position: absolute;
      -webkit-text-stroke: .5px black;
      top: 5%;
      left: 5%;
      font-size: 24px;
  }
}