.subnav {
    list-style: none;
    display: flex;
    padding: 3rem;
    border-bottom: 1px solid #e5e5e5;
}
.subnav li {
    padding: 0 0.5rem;
    margin: 0 0.3rem;
    cursor: pointer;
}
.subnav li:hover {
    padding: 0 0.5rem;
    margin: 0 0.3rem;
    cursor: pointer;
}
.underline {
    border-bottom: 2px solid lightcoral;
}