.subnav {
    list-style: none;
    display: flex;
    padding: 3rem;
    border-bottom: 1px solid #e5e5e5;
}
.subnav li {
    padding-left: 1rem;
    cursor: pointer;
}
.subnav li:hover {
    padding-left: 1rem;
    cursor: pointer;
}
.underline {
    border: 2px solid red;
}