.searchbar {
    
    border-radius: 8px;
    outline: none;
    padding: 18px 11px;
    font-size: 16px;
    height: 23px;
    width: 583px;
    display: block;
    margin: auto;
    box-shadow: 2px,2px,12px;
    border: none;
    box-shadow: 2px 0px 30px 5px rgba(0,0,0,0.06);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(191,191,191);
    opacity: 1; /* Firefox */
  }
  input {
    color: black;
  }
.title {
    font-size: 4rem;
    margin-bottom: 2rem;
}
.searcbarContainer {
    width: 90%;
    margin: auto;
    margin-bottom: 3%;
}
.span {
    font-size: .83rem;
    color: rgb(191,191,191);
}
.chevron {
    position: relative;
      text-align: center;
      margin-bottom: 6px;
      height: 60px;
      width: 200px;
}
.chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: red;
    transform: skew(0deg, 6deg);
  }
  .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: red;
    transform: skew(0deg, -6deg);
  }